<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar border px-6 py-3 d-flex justify-between" data-aos="slide-down" data-aos-duration="300">
      <h2 class="logo pos-relative">
        Fixie
        <a href="#" class="link--block"></a>
      </h2>
      <ul class="d-flex justify-between">
        <li><a href="#" class="px-3 py-1 link-primary">Product</a></li>
        <li><a href="#" class="px-3 py-1 link-primary">Blog</a></li>
        <li><a href="#" class="px-3 py-1 link-primary">Contact</a></li>
      </ul>
    </nav>

    <%- contents %>

    <footer class="container bg-light px-6 py-3" data-aos="slide-up" data-aos-duration="200" data-aos-once="true">
      <nav class="d-flex justify-between items-center">
      <ul class="d-flex justify-between">
        <li><a href="#" class="p-3 link-primary">Product</a></li>
        <li><a href="#" class="p-3 link-primary">Blog</a></li>
        <li><a href="#" class="p-3 link-primary">Contact</a></li>
      </ul>
      <p class="text-secondary opacity-67 fs-5">
      © 2020 Fixie. All Rights Reserved.
      </p>
      <h2 class="logo pos-relative">
        Fixie
        <a href="#" class="link--block"></a>
      </h2>
      </nav>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>